<h1>User Details</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">Gender</th>
      <th scope="col">Email Address</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Category</th>
      <th scope="col">Technology</th>
      <th scope="col">Profile photo</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users;let i=index;">
      <th scope="row">{{i+1}}</th>
      <td>{{user.username}}</td>
      <td>{{user.gender}}</td>
      <td>{{user.email}}</td>
      <td>{{user.phone}}</td>
      <td>{{user.category}}</td>
      <td>{{user.technology}}</td>
      <td><img style="width: 100px;" class="profile-picture border rounded-circle p-2" [src]='user.picture'
        alt="user picture"></td>
    </tr>
  </tbody>
</table>
